<div class="row">
  <div class="col-md-12">
    <blackquote>

      <div class="page-header">
        <h1>Payment</h1>
      </div>

      <p class="lead">A <%=@years%> year loan of $<%=@principal%>, with an annual interest rate of <%=@rate%>%, requires a monthly payment of $<%=@payment%>.</p>
    </blockquote>

  </div>
</div>
