<div class="row">
  <div class="col-md-12">
      <blockquote>
        <div class="page-header">
          <h1>Random Number</h1>
        </div>

        <p class="lead">A random number between <%=@min%> and <%=@max%> is <%=Random.new.rand(@min..@max)%>.</p>

    </blockquote>

  </div>
</div>
